*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color:darkgray;
    width: 90%;
    margin: 0 auto;
}
header{
    padding: 2em;
    margin: 1rem auto;
    text-align: center;
    border-radius: 12px;
    background-color: cornsilk;
    width: 40%;
}
section{
    margin: 5rem;
}
