doctype html 
-var titol = "Busqueda empleo";
-var footer = "por Jaume Bañuls Orovay"
html 
    head 
        title #{titol}
        meta(charset="utf-8" author="Jaume Bañuls Orovay")
    body 
        header 
            h1 titol
            main 
                p a(href="formulari.html") 